<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 col-sm-2">
<!--
                <img src="app/assets/images/logo.png" class="header-logo">
-->
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="box-info">
                <h4 class="date"></h4>
                <div class="general-info-box">
                    <div><h6></h6></div>
                    <img>
                    <h3></h3>
                    <p></p>
                </div>
            </div>
        </li>
    </ul>
    <a class="btn btn btn-default" (click)="onBack()" style="width: 80px">
        <i class="glyphicon glyphicon-chevron-left"></i> Back
    </a>
</div>

