<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 col-sm-2">
                <img src="app/assets/images/logo.png" class="header-logo">
            </div>
            <div class="col-xs-9 col-sm-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-7 col-xs-10" style="padding-left: 0">
                            <input class="form-control"
                                   placeholder="{{isGTxs ? 'Search by title' : 'Search by title'}}"
                                   type="text"
                                   id="searchByTitle" name="searchByTitle"
                                   [(ngModel)]="searchByTitle"
                                   (keyup)="sendSearch(null, $event)"
                            />

                          <!--  <input type="number" min="1970" max="2016"  />-->
                        </div>
                        <div class="col-sm-2 col-xs-2">
                            <button type="submit"
                                    class="btn btn-default glyphicon glyphicon-search"
                                    (click)="sendSearch(null, $event)"
                            ></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>
<div class="container">
     <ul class="list-group">
        <li class="list-group-item" *ngFor="let film of pages[currPageIndex]" class="{{film.id}}">
            <div class="box-info">
                <h4 class="date">{{film.release_date ? (film.release_date | date: 'longDate') : "No Date Available"}}</h4>
                <div class="general-info-box">
                    <h3 class="visible-xs">{{film.title}}</h3>
                    <div *ngIf="!film.poster_path" class="no-cover"><h6>{{film.title}}</h6></div>
                    <div class="forMobile">
                        <img class="small-poster" *ngIf="film.poster_path" [src]="config.images.base_url + config.images.poster_sizes[1] + film.poster_path">
                    </div>
                    <h3 class="hidden-xs">{{film.title}}</h3>
                    <div *ngIf="film.overview">
                        <p>{{film.overview.split(' ').slice(0, 20).join(' ')}} ...</p>
                        <a [routerLink]="['/details', film.id]" >Read more</a>
                    </div>
                </div>
            </div>
        </li>
        <li>

        </li>
     </ul>
    <div class="text-center">
        <ul class="pagination list-pages">
            <li class="pages" *ngFor="let page of pages; let i_pag = index">
                <a class="number-pages"  (click)="newPage(i_pag)" [class]="currPageIndex == i_pag ? 'active' : ''">{{i_pag+1}}</a>
            </li>
        </ul>
    </div>
</div>
