<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2">
                <a href="http://www.elisagualtieri.co.uk/#/home">
                    <div class="btn btn-info back">
                        <i class="fa fa-chevron-left fa-backward" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
            <div class="hidden-xs col-sm-2">
                <img src="../../assets/images/logo.png" class="header-logo"  (click)="onBack()" >
            </div>
            <div class="col-xs-10 col-sm-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-7 col-xs-10" style="padding-left: 0">
                            <input class="form-control"
                                   placeholder="Search by title"
                                   type="text"
                                   id="searchByTitle"  name="searchByTitle"
                                   [(ngModel)]="searchByTitle"
                                   (keyup)="sendSearch(null, $event)"
                                   required
                            />

                        </div>
                        <div class="col-sm-2 col-xs-2">
                            <div
                                    class="header-button btn btn-default glyphicon glyphicon-search"
                                    (click)="sendSearch(null, $event)"
                            ></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item my-info" *ngIf="details && config">
            <div class="box-info" *ngIf="details.title">
                   <h3 class="title">{{details.title}}</h3>
                <div class="general-info-box">
                        <div *ngIf="!details.poster_path" class="no-cover">
                            <h6>{{details.title ? details.title : ''}}</h6>
                        </div>
                            <img class="poster" *ngIf="details.poster_path && config" [src]="config.images.base_url + config.images.poster_sizes[3] + details.poster_path">
                            <h5>Release date {{details.release_date ? mymoment(details.release_date).format('MMMM D, YYYY') : " "}}</h5>
                            <div *ngIf="details.genres[0]">{{details.genres[0].name ? details.genres[0].name : ''}} {{details.runtime ? ('| ' + details.runtime + ' mins') : ''}}</div>
                            <p>{{details.overview ? details.overview : ''}}</p>
                            <div class="quote" *ngIf="details.tagline">
                                <q>{{details.tagline}}</q>
                            </div>


                    <div class="row" *ngIf="reviews">
                        <div class="review col-xs-12" *ngFor="let review of reviews.results">
                            <h4>Review by {{review.author}}</h4>
                            <p>{{review.content}}</p>
                        </div>
                    </div>
                </div>
<!--                <div class="video" width="640" height="360">
                    <iframe class="e2e-iframe-trusted-src" width="640" height="360" [src]="trustedUrl.changingThisBreaksApplicationSecurity"></iframe>
                </div>-->
                <div class="characters col-xs-12" *ngIf="cast.length">
                    <h3 class="show-char">Top billed cast</h3>
                    <div class="col-sm-6 col-md-4" *ngFor="let char of cast">
                            <div class="thumbnail">
                                <img (click)="showBiograhy(char)" class="img-thumbnail" style="height: 240px" *ngIf="char.profile_path && config" [src]="config.images.base_url + config.images.profile_sizes[1] + char.profile_path">
                                <div class="no-photo" *ngIf="!char.profile_path"></div>
                                <div class="caption text-center">
                                    <h4>{{char.name}}</h4>
                                    <h5>{{char.character}}</h5>
                                </div>
                            </div>
                    </div>
                </div>
            </div>


            <div *ngIf="recommendations?.results.length && config">
                <h3 class="show-recommendations">Similar movies recommendations</h3>
                <div class="box-info suggested"  *ngFor="let result of recommendations.results">
                    <div class="general-info-box">
                        <div *ngIf="!result.poster_path" class="no-cover"><h6>{{result.title}}</h6></div>
                        <img class="poster" *ngIf="result.poster_path && config" [src]="config.images.base_url + config.images.poster_sizes[0] + result.poster_path">
                        <h3>{{result.title ? result.title : ''}}</h3>
                        <h5>{{result.release_date ? mymoment(result.release_date).format('MMMM D, YYYY') : "No Date Available"}}</h5>
                        <div *ngIf="result.overview">
                            <p>{{result.overview.split(' ').slice(0, 20).join(' ')}} ...</p>
                            <a [routerLink]="['/details', result.id]" >Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <a class="btn btn btn-default back" (click)="onBack()" style="width: 80px">
        <i class="glyphicon glyphicon-chevron-left"></i> Back
    </a>
</div>

<modal-biography [character]="character" (modalOnHide)="resetCharacter()"></modal-biography>
